<navbar hide-navbar="vm.hideNavbar"></navbar>

<page-title title="vm.title"></page-title>
<section>
  <div class="container-fluid container-filtros">
    <div id="filtros">
      <div class="row">
        <div class="container-fluid col-md-3">
          <label for="nome">Código</label>
          <div class="">
            <input type="text" id="codigo" name="codigo" placeholder="Código"
              autofocus maxlength="3" ng-maxlength="3"
              class="form-control input-sm" ng-model="vm.filter.codigo">
          </div>
        </div>
        <div class="container-fluid col-md-5">
          <label for="nome">Nome</label>
          <div class="">
            <input type="text" id="nome" name="nome" placeholder="Nome do banco"
              class="form-control input-sm" ng-model="vm.filter.nome">
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:40px">
        <div class="col-md-2" id="nfiltros">
          <button class="btn btn-success btn-block " ng-click="vm.save()">
            <span class="glyphicon glyphicon-plus-sign"> </span> Novo
          </button>
        </div>

        <div class="col-md-2">
          <button class="btn btn-default btn-block" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-erase"> </span> Limpar
          </button>
        </div>

        <div class="col-md-2">
          <button class="btn btn-primary btn-block" ng-click="vm.search()">
            <span class="glyphicon glyphicon-search"> </span> Pesquisar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <table st-table="vm.page.content" st-pipe="vm.onPipe" class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="col-md-1" st-sort="codigo">Codigo</th>
          <th class="col-md-2" st-sort-default="true" st-sort="nome">Nome</th>
          <th class="sm-display-none col-md-1" st-sort="tipoPessoa">Tipo Pessoa</th>
          <th class="sm-display-none col-md-1" >Documento</th>
          <th class="sm-display-none col-md-1" st-sort="situacaoCadastro">Situação</th>
          <th class="col-md-1">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5" ng-if="!vm.page.content.length">
            <p>Nenhum registro cadastrado.</p>
          </td>
        </tr>
        <tr ng-repeat="item in vm.page.content" ng-if="vm.page.content.length">
          <td class="col-md-1">{{item.codigo}}</td>
          <td class="col-md-2">{{item.nome}}</td>
          <td class="sm-display-none col-md-1">{{vm.tipoPessoa[item.tipoPessoa].label}}</td>
          <td class="sm-display-none col-md-1">{{vm.documentoPessoa(item)}}</td>
          <td class="sm-display-none col-md-1">{{vm.Situacao[item.situacaoCadastro].label}}</td>
          <td class="col-md-1">
            <div class="action-buttons">
              <button class="btn btn-warning btn-sm glyphicon glyphicon-pencil" ng-click="vm.edit(item.id)"
                uib-tooltip="Editar">
              </button>
              <button class="btn btn-primary btn-sm glyphicon glyphicon-list-alt" ng-click="vm.view(item.id)"
                uib-tooltip="Visualizar">
              </button>
            </div>
          </td>

        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="1" class="text-center">
            <div>
              <label for="paginas_slct">Itens por página</label>
              <select id="paginas_slct" class="form-control " type="number" ng-model="vm.itensPorPagina" ng-options="item for item in [1,5,10,20,50,100] ">
              </select>
            </div>
          </td>
          <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="vm.itensPorPagina"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
