{
  "extends": [
    "eslint:recommended"
  ],
  // Enable ES6 support. If you want to use custom Babel
  // features, you will need to enable a custom parser
  // as described in a section below.
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    // Default to single quotes and raise an error if something
    // else is used
    "no-extra-parens":["error", "all"],
    "no-template-curly-in-string": "error",
    "quotes": ["error", "single"],
    "no-unsafe-negation": "error",
    "no-multi-spaces": "error"
  }
}
