.navbar-brand {
	font-size: x-large;
  font-weight: 500;
}

.navbar {
	font-size: medium;
	    margin-bottom: 0px !important;
}

.navbar .dropdown-menu {
	font-size: large;
	margin-right: 0px !important;
}

.navbar .glyphicon {
	margin-right: 5px;
}

.page-header h1 {
	font-size: -xx-large;
}

.navbar-inverse {
	background-color: #333333;
	border-color: #333333;
  position: relative !important;
}

.display-none {
  display: none;
}