@import '../common'

.navbar-brand
  font-size x-large
  font-weight 500

.navbar
  font-size medium
  margin-bottom 0px
  .dropdown-menu
    font-size large
    margin-right 0px
  .glyphicon
    margin-right 5px

.navbar-inverse
  position relative

.navbar-multiple
  width 100%
  display inline-flex
  a
    display inline-block
    &:first-child
      width 100%
    &:nth-child(2)
      padding-right 3px
      padding-left 7px
      cursor pointer
