@import '../common'

.navbar-brand
  font-size x-large
  font-weight 500

.navbar
  font-size medium
  margin-bottom 0px !important
  .dropdown-menu
    font-size large
    margin-right 0px !important
  .glyphicon
    margin-right 5px

.navbar-inverse
  background-color #333333
  border-color #333333
  position relative !important
