<section class="hero">
  <h1>Bancos</h1>
</section>

<div class="col-md-4">
  <ui-select id="unidade" ng-model="vm.unidade" reset-search-input="true">
    <ui-select-match allow-clear placeholder="Selecione">
      {{$select.selected.nome}}
    </ui-select-match>
    <ui-select-choices repeat="item in vm.lista track by item.id">
      <div ng-bind-html="item.nome"></div>
    </ui-select-choices>
  </ui-select>
</div>
<div>
<button class="btn btn-success btn-block " ng-click="vm.filtro()">
  <span class="glyphicon glyphicon-plus-sign"> </span> Filtro
</button>

</div>

