<section class="hero">
  <h1>This is the NG6 starter</h1>
  <h3>You can find me inside {{ vm.name }}.html</h3>
  {{vm.value | percentage}}
  {{'30480530' | brCep}}
  {{'30480530' | currency}}
<button ng-click="vm.startSpin()">Start spinner</button>
<button ng-click="vm.stopSpin()">Stop spinner</button>


<span us-spinner spinner-key="spinner-1"></span>

<table st-table="vm.lista" class="table table-striped">
  <thead>
  <tr>
    <th>first name</th>
    <th>last name</th>
    <th>birth date</th>
    <th>balance</th>
    <th>email</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in vm.lista">
    <td>{{row.teste}}</td>
  </tr>
  </tbody>
</table>

</section>
<input type="text" ui-mask="99.99" name="field" ng-model="number">


<div class="col-md-4">
  <ui-select id="unidade" ng-model="vm.unidade" reset-search-input="true">
    <ui-select-match allow-clear placeholder="Selecione">
      {{$select.selected.teste}}
    </ui-select-match>
    <ui-select-choices repeat="item in vm.lista track by item.id">
      <div ng-bind-html="item.teste"></div>
    </ui-select-choices>
  </ui-select>
</div>
<div class="col-md-2">
  <label for="ufir">Subelemento Habilitado</label>
  <div class="radio abc-radio abc-radio-primary">
    <input type="radio" name="ufir" id="ufirSim"
      ng-value="true" ng-model="vm.entity.subelementoHabilitado">
    <label for="ufirSim">
        Sim
    </label>
  </div>
  <div class="radio abc-radio abc-radio-primary">
    <input type="radio" name="ufir" id="ufirNao"
      ng-value="false" ng-model="vm.entity.subelementoHabilitado">
    <label for="ufirNao">
        Não
    </label>
  </div>
</div>

<button class="btn btn-success btn-block " ng-click="vm.teste()">
  <span class="glyphicon glyphicon-plus-sign"> </span> Novo
</button>
